fastapi==0.121.2
langchain==0.1.14
langchain_chroma==0.1.1
langchain_core==0.1.53
langchain_openai==0.1.7
langchain_text_splitters==0.0.2
openai==1.109.1
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==11.1.0
pydantic==2.12.4
python-dotenv==1.1.0
unstructured==0.12.5
uvicorn==0.38.0
pdf2image>==1.17.0
pdfplumber==0.11.5
pytesseract>=0.3.13
pdfminer.six==20231228
opencv-python-headless>=4.8.1
pillow-heif==0.15.0
python-multipart==0.0.20
chromadb==0.4.22
hnswlib==0.8.0